<div class="slider" id="contenedor">
    <ul class="slides">
        <li>
            <img
                src="./assets/imagenes/carro1.jpg">
        </li>
        <li>
            <img src="./assets/imagenes/carro4.jpg">
        </li>
        <li>
            <img src="./assets/imagenes/carro3.jpg">
        </li>
    </ul>
</div>



<div>
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-content activator">
                    <p class="card-title">
                       Mision.
                        <i class="material-icons right">more_vert</i>
                    </p>
                    <p>Prestación de servicio de alquiler y venta de vehículos inteligentes, exclusivos de la empresa para disminuir la huella de carbono en el planeta
                        Servir eficientemente, siendo fiel a nuestros principios y valores corporativos, generando bienestar, seguridad y confianza en nuestros clientes. 
                    </p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-content activator">
                    <p class="card-title">
                       Vision.
                        <i class="material-icons right">more_vert</i>
                    </p>
                    <p>En SMART VEHICLE nos visualizamos para el 2020 como una empresa líder dentro del mercado de alquiler de vehículos a nivel Nacional e Internacional, valiéndonos de nuestro recurso humano
                     que cada día se esmera por brindar un servicio de calidad total y atención personalizada.</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-content activator">
                    <p class="card-title">
                       Valores.
                        <i class="material-icons right">more_vert</i>
                    </p>
                    <p>La calidad de nuestro trabajo es vital para la organización; Nos enfocamos en ser los mejores cada día. Somos conscientes entre lo que decimos, lo que hacemos y lo que escribimos.
                         Tomamos decisiones efectivas basadas en el análisis de la información Innovamos en nuestros productos.</p>
                </div>
            </div>
        </div>


        <div class="col s12">
            <div class="card">
                <div class="card-content activator">
                    <p class="card-title">
                       Vehiculos Disponibles
                        <i class="material-icons right">more_vert</i>
                    </p>
                    <img src="./assets/imagenes/carros.JPG">
                </div>
            </div>
        </div>
        


        <div >
            <div class="card horizontal">
            </div>
        </div>
    </div>







 
 
