<body>
    <div class="container">


        <form [formGroup]="fgValidador" (ngSubmit)="IdentificarUsuario()">
            <!-- Change The Form Method From Here-->
            <div class="card-panel z-depth-5">

                <!-- Form Logo Section  -->

                <div class="row margin">
                    <div class="col s12 m12 l12 center">
                        <img src="https://i.imgur.com/ypAbAYt.png" alt="" class="responsive-img circle"
                            style="width:100px;">
                        <p>Iniciar Sesion Smart Vehicle</p>
                    </div>
                </div>

                <!-- Form Username Input Section -->

                <div class="col s12 m12 l12">
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input formControlName="usuario" type="text" name="username" id="username">
                        <label for="username">Usuario</label>
                    </div>
                </div>

                <!-- Form Password Input Section -->

                <div class="col m12 l12">
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input formControlName="clave" type="password" name="password" id="password">
                        <label for="password">Contraseña</label>
                    </div>
                </div>
                <i class="material-icons prefix">person</i>
                    <label for="rol">Seleccione Tipo De Usuario</label>
                <div class="input-field col m12 s12 l12">
                    
                    <select formControlName="rol" name="rol" id="rol">
                      <option value="asesor">Asesor</option>
                      <option value="administrador">Administrador</option>
                      <option value="cliente">Cliente</option>
                    </select>
                
                    
                </div>

                <!-- Form Chekbox (Remember Me) Input Section -->

                <div class="left">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox"></label>
                </div>
                <br><br>

                <!-- Form Button Section  -->

                <div class="center">
                    <button [disabled]="!fgValidador.valid" class="btn waves-effect waves-light grey darken-4"
                        type="submit" name="action">Entrar
                        <i class="material-icons right">send</i>
                    </button>
                </div>

                <!-- Form "Register Now" And "Forgot Password" Link Section. -->

                <div class="" style="font-size:14px;"><br>
                    <a href="" class="left">Registrase Ahora!</a>
                    <a href="" class="right ">Olvido la contraseña?</a>
                </div><br>
            </div>
        </form>
    </div>
</body>