<footer class="page-footer #4caf50 green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Brigade Code</h5>
          © 2022 
          <p class="grey-text text-lighten-4"></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Información</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright #4caf50 green"> 
    </div>
  </footer>

  